
.bg-dark-info {
	background-color:#223D4B;
}

.btn-outline-white {
	color:white;
	border:0.1em solid white;

	&:hover {
		background-color:white;
	}
}

.footer-bg-light {
	background-color: lighten(#0E191D, 5%);
}

.footer-bg {
	background-color: #0E191D;
}

.header-bg {
	background-color:$brand-info;
	color:white;
	padding:1em 0;

	@include media-breakpoint-up(md) {
		padding:2em 0;
	}
}