@font-face {
  font-family: 'entypo';
  src:  url('../fonts/entypo.eot?v789ez');
  src:  url('../fonts/entypo.eot?v789ez#iefix') format('embedded-opentype'),
    url('../fonts/entypo.ttf?v789ez') format('truetype'),
    url('../fonts/entypo.woff?v789ez') format('woff'),
    url('../fonts/entypo.svg?v789ez#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e9a6";
}
.icon-code:before {
  content: "\e9a7";
}
.icon-cog:before {
  content: "\e9a8";
}
.icon-compass:before {
  content: "\e9aa";
}
.icon-link:before {
  content: "\ea15";
}
.icon-ruler:before {
  content: "\ea58";
}
