
.menu-item {
	a {
		color: $gray-dark !important;
		text-transform: uppercase;
	}

	&.current-menu-item {
		a {
			font-weight:bold !important;
			position:relative;
			&::after {
				content: '';
				position:absolute;
				top:calc(100% - 0.5em);
				left:0.5em;
				height:2px;
				width:calc(100% - 1em);
				background-color:$gray-dark;
			}
		}
	}

	&:last-child {
		a {
			color: $brand-primary !important;
		}
	}
}