.subscribe-form {
	padding:2em 15px 1.5em;
	color:white;
}

.es_shortcode_form {
	@extend .row;
	@extend .align-items-center;
	.es_lablebox {
		padding-top:0!important;
		padding-bottom:0.5!important;
		@extend .col-12;
		@extend .col-md-auto;
		label {
			color:white;
		}
	}

	.es_textbox{
		padding-top:0!important;
		padding-bottom:0.5!important;
		@extend .col-12;
		@extend .col-md-auto;
		input {
			@extend .form-control;
		}
	}

	.es_button{
		padding-top:0!important;
		padding-bottom:0.5!important;
		@extend .col-12;
		@extend .col-md-auto;
		input {
			@extend .btn;
			@extend .btn-success;
		}
	}
}