<div class="comment-form mt-3">
    <h3>Add a Comment</h3>
    <form id="form" class="comment-form" method="post" action="{{ site.url~'/wp-comments-post.php' }}">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="author">Username</label>
                    <input type="text" class="form-control" id="author" name="author" required placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label for="url">Url</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder="Enter Url (optional)">
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" name="comment" placeholder="Comment text" cols="60" rows="3"></textarea>
        </div>

        <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
        <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

        <div>
            <button type="submit" name="Submit" class="btn btn-primary">Send</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
            <p> Your comment will be revised by the site if needed. </p>
        </div>
    </form>
</div>