<div class="card bg-faded mb-3 blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<div class="card-block">
		<h5 class="comment-author">{{comment.author.name}} says</h5>
		<div class="comment-content">{{comment.comment_content|wpautop}}</div>
	</div>
</div>