<footer class="footer-bg-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 subscribe-form">
				<h3>Subscribe to Our Newsletter!</h3>
				{{ function('es_subbox', 'YES', '', '') }}
			</div>
		</div>
	</div>
</footer>
<footer class="footer-bg">
	<div class="container py-3">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<img src="{{ theme.link }}/img/density-white.png" alt="Density Industries Logo" style="height:70px;">
			</div>
			<div class="col-sm-6 text-right">
				<a href="mailto:hello@density.industries" class="text-white">hello@density.industries</a>
			</div>
		</div>
	</div>
</footer>