{% extends "base.twig" %}

{% block content %}
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>News</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row py-4">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</div>
{% endblock %}