{% if menu %}
	<ul class="navbar-nav ml-auto">
		{% for item in menu %}
		<li class="nav-item {{ item.classes | join(' ') }}">
			<a class="nav-link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}
