{% extends "base.twig" %}

{% block content %}
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Services</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row py-3">
			{% for service in services %}
				<div class="col-sm-12">
					<div class="card my-2">
						<img class="card-img-top" src="{{service.thumbnail.src}}" alt="{{service.title}} Image">
						<div class="card-block">
							<h2 class="card-title">{{service.title}}</h2>
							<p class="card-text">{{service.content}}</p>
							<a class="card-link" href="mailto:hello@density.industries?subject={{service.title}}">Talk to us about {{service.title}}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}