{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row my-md-5 my-2 align-items-center">
			<div class="col-sm-6">
				<img src="{{ theme.link }}/img/landing-cards@2x.png" alt="Four cards with one differentiated.">
			</div>
			<div class="col-sm-6">
				<h1>{{ post.get_field('wpcf-tagline') }}</h1>
				<p>{{ post.get_field('wpcf-sub-tagline') }}</p>
				<a href="mailto:hello@density.industries" class="btn btn-info">Get In Touch</a>
			</div>
		</div>
	</div>
	<div class="bg-dark-info text-white py-5">
		<div class="container py-md-5">
			<div class="row">
				<div class="col-sm-12 py-3">
					<h2>{{post.get_field('wpcf-services-title')}}</h2>
				</div>
				<div class="col-sm-6">
					<h3>
						<span class="icon icon-cloud"></span>
						<span class="icon icon-cog"></span>
						<span class="icon icon-compass"></span>
					</h3>
					<h3>Search Engine Optimization</h3>
					<p>{{post.get_field('wpcf-seo-description')}}</p>
				</div>
				<div class="col-sm-6">
					<h3>
						<span class="icon icon-ruler"></span>
						<span class="icon icon-code"></span>
						<span class="icon icon-link"></span>
					</h3>
					<h3>Responsive Web Design</h3>
					<p>{{post.get_field('wpcf-rwd-description')}}</p>
				</div>
				<div class="col-sm-12 text-center">
					<a href="{{ site.url }}/services/" class="btn btn-outline-white"><strong>VIEW ALL SERVICES</strong></a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-primary text-white py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center py-lg-5">
					<h2 class="mb-4">{{post.get_field('wpcf-bottom-tagline')}}</h2>
					<p class="mb-4">{{post.get_field('wpcf-bottom-sub-tagline')}}</p>
					<a href="mailto:hello@density.industries" class="btn btn-outline-white"><strong>CONTACT US</strong></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
