{% extends "base.twig" %}

{% block content %}
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Team</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row py-3">
			{% for member in team %}
				<div class="col-md-6">
					<div class="card my-2">
						<img class="card-img-top rounded-circle" src="{{member.thumbnail.src}}" alt="{{member.title}} Image">
						<div class="card-block">
							<h2 class="card-title">{{member.title}}</h2>
							<p class="card-text">{{member.content}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}