{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<article class="post-type-{{post.post_type}} py-3" id="post-{{post.ID}}">
					<section class="article-content">
						<h1 class="article-h1">{{post.title}}</h1>
						<p class="blog-author">
							<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
						</p>
						<div class="article-body">
							{{post.content}}
						</div>
					</section>

					<!-- comment box -->
					<section class="comment-box">
						<!-- comments -->
						<div class="comments">
					    {% if post.comments %}
								<h3>Comments</h3>
								{% for cmt in post.comments %}
								    {% include "comment.twig" with {comment:cmt} %}
								{% else %}
									<p>There are no comments yet. Post one below!</p>
								{% endfor %}

					    {% endif %}
						</div>
						{% if post.comment_status == "closed" %}
							<p> comments for this post are closed </p>
						{% else %}
					    {% include "comment-form.twig" %}
						{% endif %}
					</section>
				</article>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
