{% extends "tease.twig" %}

{% block content %}
	<div class="col-sm-12 mb-3">
		<article class="card tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
			{% if post.thumbnail.src %}
				<img class="card-img-top" src="{{post.thumbnail.src}}" alt="{{post.title}} Image" />
			{% endif %}
			<div class="card-block">
				<h2 class="card-title"><a href="{{post.link}}">{{post.title}}</a></h2>
				<p class="card-text">{{post.get_preview}}</p>
			</div>
		</article>
		
	</div>
{% endblock %}